/*Color
#43ECE5
#95A4BD
#8C99AE
#25364F


*/

.book-cover {
    height: 15em;
  }
  
  .book-cover-small {
    height: 7em;
    margin-right: 1em;
    margin-left: 1em;
  }
  
  .book-image {
    height: 80px;
    margin-right: 2em;
  }
  
  .background-div {
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  .border-thick {
    border-width: 3px !important;
  }
  
  a, p, h1, h4, h6, .basket-text, small{
      color: #95A4BD !important;
  }

  h3{
    color: #8C99AE !important;
}
  

  .card{
     background: #070D18; 
  }
.bg-dark{
    background: #25364F !important;
}
  .btn-primary{
    background: #25364F !important;
    color: #43ECE5  !important;
    border-color: #43ECE5  !important;
  }

  .invalid{
    color: #43ECE5  !important;
  }

  .count{
    color: #ffffff  !important;
  }